appnope 
asttokens 
async-timeout==5.0.1
backcall 
Bottleneck 
certifi==2024.12.14
charset-normalizer==3.4.1
comm 
contourpy 
cycler 
debugpy 
decorator 
executing 
fonttools 
git-filter-repo==2.47.0
idna==3.10
importlib_metadata 
importlib_resources 
ipykernel 
ipython 
jedi 
jupyter_client 
jupyter_core 
kiwisolver 
matplotlib==3.9.2
matplotlib-inline 
mkl-fft 
mkl-random 
mkl-service==2.4.0
nest_asyncio 
numexpr 
numpy 
packaging 
pandas 
parso 
pexpect 
pickleshare 
pillow 
platformdirs 
prompt_toolkit 
psutil 
ptyprocess 
pure_eval 
Pygments 
pyparsing 
python-dateutil 
pytz 
pyzmq 
redis==5.2.1
requests==2.32.3
scipy 
seaborn 
six 
spotipy==2.25.0
stack_data 
tornado 
traitlets 
typing_extensions 
tzdata 
unicodedata2 
urllib3==2.3.0
wcwidth 
zipp 
